.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}


.particles {
  /* Makes sure everything is full screen and the bg is fixed  */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Only allowed to use when you use position: fixed or absolute. This tells you what LAYER you want the bg to be on */
  z-index: -1;
}
